@page "/"
@using FFNodes.Client.Core.Networking;
@using FFNodes.Core.Model;
@using FFNodes.Server.Data;
@using Serilog;
<link href="/css/login.css" rel="stylesheet" />
<div id="landing" class="center horizontal vertical col">
    <img src="/images/Logo.svg" alt="FFNodes">
    <div id="form" class="col">
        <div class="floating-input fill">
            <input id="username" class="fill" type="text" @bind="Username" placeholder="" />
            <label for="username" class="fill">Username</label>
        </div>
        <div class="floating-input fill">
            @if (string.IsNullOrWhiteSpace(ConnectionLink))
            {
                <input id="connection-link" class="fill" type="url" @bind="ConnectionLink" placeholder="" />
            }
            else
            {
                <input id="connection-link" class="fill" type="url" @bind="ConnectionLink" placeholder="" readonly />
            }
            <label for="connection-link" class="fill">Connection Link</label>
        </div>
        <p class="error fill">@Error</p>
        <button class="primary" @onclick="Login">Connect <img src="/images/lock.svg" /> </button>
    </div>
</div>


@code {
    private string Username { get; set; }
    private string ConnectionLink { get; set; }
    private string Error { get; set; }


    protected async override Task OnInitializedAsync()
    {
        await Update();

        Configuration.Instance.ConfigurationSaved += async (s, e) => await Update();

        await base.OnInitializedAsync();
    }

    private async Task Update()
    {
        try
        {
            if (ConnectionLink != Configuration.Instance.ConnectionUrl && Uri.TryCreate(Configuration.Instance.ConnectionUrl, UriKind.Absolute, out Uri? connectionUri) && connectionUri.Scheme == "ffn")
            {
                Log.Debug("Setting connection link to {LINK}", connectionUri);
                ConnectionLink = Configuration.Instance.ConnectionUrl;
                using FFNetworkClient client = new(ConnectionLink);
                (bool success, User? user) = await client.LogInUser(Configuration.Instance.UserId);
                Username = user?.Username ?? "";

                await InvokeAsync(() =>
                {
                    StateHasChanged();
                });

                if (Configuration.Instance.UserId != Guid.Empty && !string.IsNullOrWhiteSpace(ConnectionLink) && success)
                {
                    nav.NavigateTo("/dashboard");
                }
            }
        }
        catch (Exception e)
        {
            Log.Error(e, "Error updating connection link");
        }
    }

    private async Task Login()
    {
        Error = "";
        if (string.IsNullOrWhiteSpace(Username))
        {
            Error = "Username cannot be blank";
            return;
        }
        if (string.IsNullOrWhiteSpace(ConnectionLink))
        {
            Error = "Connection Link cannot be blank";
            return;
        }
        try
        {
            using FFNetworkClient client = new(ConnectionLink);
            (bool success, User user) = await client.CreateUser(Username);
            if (success)
            {
                Configuration.Instance.UserId = user.Id;
                Configuration.Instance.Save();
                nav.NavigateTo("/dashboard");
            }
            else
            {
                Error = "Invalid Username or Connection Link";
            }
        }
        catch (Exception e)
        {
            Error = $"Error: {e.Message}";
        }
    }
}