<div class="file-item">
    <div class="col">
        <div class="row fill">
            <div class="title fill">@FileName</div>
            <div class="percentage-label">@(Percentage.ToString("P2"))</div>
        </div>
        <div class="percentage fill" style="--percentage: @(Percentage.ToString("P2"))"></div>
    </div>
</div>

@code {
    [Parameter]
    public string FileName { get; set; }
    [Parameter]
    public float Percentage { get; set; }
}
