@using FFNodes.Client.GUI.Data;
<div class="file-item" @onclick=@OnClick>
    <ProgressbarComponent Title=@Title Percentage=@File.Percentage />
</div>

@code {
    [Parameter]
    public FileItem File { get; set; }
    public string Title { get; set; }
    [Parameter]
    public Action OnClick { get; set; }= ()=> { };

    protected override async Task OnInitializedAsync()
    {
        Title = $"{File.FileName} {(File.CurrentOperation != Operation.Processing ? $"({File.CurrentOperation})" : "")}";
        await base.OnInitializedAsync();
    }
}
