@using Chase.FFmpeg.Downloader;
@using FFNodes.Client.Core.Data;
@using FFNodes.Client.Core.Networking;
@using FFNodes.Client.Core;
@using FFNodes.Client.GUI.Data;
@using FFNodes.Core.Data;
@using FFNodes.Core.Model;
@using FFNodes.Core;
@using System.Diagnostics;
@using Newtonsoft.Json;
@inject IJSRuntime JSRuntime;

<section>
    <div class="col fill">
        <div class="row title-bar">
            <div class="page-title fill">dashboard</div>
            <div class="row">
                <img src="/images/@(ProcessManager.Instance.IsProcessing?"pause":"play").svg" alt="" class="button @(ProcessManager.Instance.IsProcessing?"primary":"secondary") media-buttons" @onclick=@TryStartProcess>
                @if (ProcessManager.Instance.IsProcessing)
                {
                    <img src="/images/stop.svg" alt="" class="button secondary media-buttons" @onclick=@(()=>{ ProcessManager.Instance.CancelProcessing(); ProcessManager.Instance.IsProcessing=false;StateHasChanged();})>
                }
            </div>
        </div>
        <div id="file-items" class="row list fill">
            @foreach ((Guid fileId, FileItem file) in ProcessManager.Instance.Files)
            {
                <FileItemComponent File=file />
            }
        </div>
    </div>
</section>

@if (SelectedFileId != Guid.Empty)
{
    <FileDetailsComponent File=ProcessManager.Instance.Files[SelectedFileId] />
}

@if (ShowStartAlert)
{
    <AlertComponent Title="alert" Message="Make sure you review all the settings before you start.<br>Some settings might not be appropriate for your system.<br>Are you sure you want to continue?" OnClickOkay=@(async ()=>{ShowStartAlert=false;StartProcessing();}) OnClickCancel=@(()=>ShowStartAlert=false) />
}
@if (ShowStopAlert)
{
    <AlertComponent Title="alert" Message="This will kill any of the current processes and killing any progress gained and yet to be uploaded.<br>Are you sure you want to continue?" OnClickOkay=@(async ()=>{ShowStartAlert=false;ProcessManager.Instance.CancelProcessing();}) OnClickCancel=@(()=>ShowStopAlert=false) />
}

@code {

    private Guid SelectedFileId { get; set; } = Guid.Empty;
    private bool ShowStartAlert { get; set; } = false;
    private bool ShowStopAlert { get; set; } = false;


    protected override async Task OnInitializedAsync()
    {
        await FFmpegDownloader.Instance.GetLatest(Directories.FFmpeg);
        ProcessManager.Instance.OnUpdateEvent += (_, _) => InvokeAsync(StateHasChanged);
        await base.OnInitializedAsync();
    }

    private async Task TryStartProcess()
    {
        if (!ClientAppConfig.Instance.CurrentUser.Files.Any() && !ProcessManager.Instance.IsProcessing)
        {
            ShowStartAlert = true;
        }
        else
        {
            await StartProcessing();
        }
    }

    private async Task StartProcessing()
    {
        if (ProcessManager.Instance.IsProcessing = !ProcessManager.Instance.IsProcessing)
        {
            StateHasChanged();

            Task[] tasks = new Task[ClientAppConfig.Instance.ConcurrentConnections];

            for (int i = 0; i < tasks.Length; i++)
            {
                tasks[i] = ProcessNext();
            }

            await Task.WhenAll(tasks);
        }
    }

    private async Task ProcessNext()
    {
        Guid fileId = await ProcessManager.Instance.DownloadNextFile();
        Stopwatch watch = Stopwatch.StartNew();
        if (ProcessManager.Instance.IsProcessing)
        {
            if (fileId != Guid.Empty && await ProcessManager.Instance.ProcessFile(fileId))
            {
                await ProcessManager.Instance.UploadFile(fileId, watch.Elapsed);
            }
        }
        if (ProcessManager.Instance.IsProcessing)
        {
            await ProcessNext();
        }
    }

}
