@using FFNodes.Server.Data;
<section>
    <div class="col fill">
        <div class="row title-bar">
            <div class="page-title fill">dashboard</div>
            
        </div>
        <div id="file-items" class="row list fill">
            @{
                int max = 100;
            }
            @for (int i = max; i >= 0; i--)
            {
                <FileItemComponent FileName="test.mp4" Percentage="i/(float)max" />
            }
        </div>
    </div>
</section>

@code {

}
