@page "/dashboard"
@using CommunityToolkit.Maui.Alerts;
@using Windows.UI.Notifications;
<link href="/css/dashboard.css" rel="stylesheet" />

<link href="css/nav.css" rel="stylesheet" />
<div class="row">

    <nav class="col center horizontal">
        <div id="nav-items" class="col">
            <NavItemComponent Title="Dashboard" IsSelected=@(SelectedIndex==0) OnSelect=@(()=>SelectedIndex=0) Icon="dashboard.svg" />
            <NavItemComponent Title="Users" IsSelected=@(SelectedIndex==1) OnSelect=@(()=>SelectedIndex=1) Icon="users.svg" />
        </div>
        <NavItemComponent Title="Settings" IsSelected=@(SelectedIndex==2) OnSelect=@(()=>SelectedIndex=2) Icon="settings-icon.svg" />
    </nav>

    <div id="page-content" class="fill">
        @switch (SelectedIndex)
        {
            case 0:
                <Dashboard />
                break;
            case 1:
                <Users />
                break;
            case 2:
                <Settings />
                break;
        }
    </div>
</div>

@code {
    public int SelectedIndex { get; set; } = 0;

}
