@using FFNodes.Server.Data;
<section>
    <div class="col fill">
        <div class="row title-bar">
            <div class="page-title fill">Settings</div>
        </div>
        <div class="list col fill">
            <div class="col fill">
                <label for="codec-dropdown">Codec</label>
                <select id="codec-dropdown" class="dropdown" @bind=Configuration.Instance.Codec>
                    <option value="auto" selected>Auto</option>
                    <option value="h.264">H.264 (CPU)</option>
                    <option value="h.264_nvenc">NVIDIA NVENC (GPU)</option>
                    <option value="h.264_amf">AMD AMF (GPU)</option>
                    <option value="h.264_qsv">Intel Quick Sync (GPU)</option>
                    <option value="h.264_mf">H264 via MediaFoundation (CPU/GPU)</option>
                    <option value="libopenh264">OpenH264 (CPU)</option>
                    <option value="libx264">libx264 (CPU)</option>
                    <option value="libx264rgb">libx264 RGB (CPU)</option>
                </select>
            </div>
            <div class="col fill">
                <label for="concurrent-processes">Concurrent Processes (@Configuration.Instance.ConcurrentConnections)</label>
                <input id="concurrent-processes" type="range" min="1" max="10" @bind=Configuration.Instance.ConcurrentConnections />
            </div>
        </div>
    </div>
</section>

@code {

}
