<section>
    <div class="col fill">
        <div class="row title-bar">
            <div class="page-title fill">Users</div>
            <div class="col title-input fill">
                <label for="connect-code">Connect Code</label>
                <input id="connect-code" type="text" class="copy" readonly value="" />
            </div>
        </div>
    </div>
</section>

@code {

}
